[submodule "fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt
[submodule "diff"]
	path = deps/diff
	url = https://github.com/kristapsdz/libdiff
[submodule "deps/optional"]
	path = deps/optional
	url = https://github.com/TartanLlama/optional
