.direnv
*~
compile_commands.json
launch.json
.cache
cscope*
*.d
*.gcno
*.gcda
*.json.gz

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
**/run

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Symbolic links
mdb.c

# Generated
sexp/lexer.yy.cc
sexp/location.hh
sexp/parser.output
sexp/parser.tab.cc
sexp/parser.tab.hh
sexp/position.hh
sexp/stack.hh
