Source: weechat-slack
Section: net
Priority: optional
Maintainer: Tony Olagbaiye <frony0@gmail.com>
Build-Depends:
    cmake, pkg-config,
    debhelper (>= 11),
    libssl-dev,
    libgnutls28-dev,
    perl
Standards-Version: 4.0.0
Homepage: https://weechat.org/
Vcs-Git: https://github.com/bqv/weechat-slack.git
Vcs-Browser: https://github.com/bqv/weechat-slack

Package: weechat-slack
Architecture: any
Depends:
    weechat (>= 1.4),
    ${shlibs:Depends},
    ${misc:Depends}
Description: Fast, light and extensible chat client - Slack plugin
 WeeChat (Wee Enhanced Environment for Chat) is a fast and light chat client
 for many operating systems. Everything can be done with a keyboard.
 .
 This package provides the Slack API plugin.
